<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="dashboard.css">
</head>
<body>
    <div class="nav_Container">
    <nav class="navbar" >
        <h1 class="navbar__title">Dashboard</h1>
         <div class="navbar__second">
             <i id="openNav" class="fas fa-align-justify"></i>
             <i id="closeNav" class="fas fa-plus"></i>
         </div>
        <div class="navbar__items">
            <div class="navbar__name">
                
                <i class="far fa-user-circle"></i>
                <p id="userName"></p></div>
            <span id="logOutBtn" class="navbar__logout"> 
                <i class="fas fa-door-open"></i>
                 logout
            </span>
        </div>
    </nav>
  

</div>
<small>Left click to modify .(or click if you are on mobile) <br> Right click to delete todo (or long press if you are on mobile)</small>
<div class="ContainerTd">

</div>
<div class="createTD" >
    <i class="fas fa-plus-circle"></i>
</div>
<script src="dasboard.js"></script>
</body>
</html>