<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/user.css">

    <title>User INFORMATION</title>
</head>
<body>
    <div class="Container">
        <form class="form_control">
            <h1 class="ErrorMessage" style="display: none;"></h1>
            <h1 class="form_title">
                Modify user info
            </h1>
            <div class="Names">
                <input type="text" id="fname" placeholder="First name" >
                <input type="text" id="lname" placeholder="Last name" >
            </div>
            <input type="email" id="Email" placeholder="E-mail">
            <input type="password" id="pwd" placeholder="password" >
            <input type="button"  id="UpdateBtn" value="Update profile">
        </form>
    </div>
<script src="/js/users.js"></script>
</body>
</html>