
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap');

/* initialisation */


*:root{
    box-sizing: border-box;
    font-family: "Roboto","Nunito";
}

.Container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
}
.form_control{
    background-color: rgb(255, 255, 255);
    height: 30rem;
    display: flex;
    flex-direction: column;
     padding: 1rem 1.8rem;
     border-radius: 15px;
     justify-content: space-evenly;
}
.form_title{
   text-align: center;
   font-size: 2.5em;
   font-weight: 900;
}

.ErrorDisplay{
    background-color:rgba(190, 84, 84, 0.356);
    border: 2px solid red;
    padding: 0.2em;
    position: absolute;
    width:50%;
    color: red
}
.Names input:nth-child(1){
    border-radius: 15px 0px 0px 15px; 
}
.Names input:nth-child(2){
    border-radius: 0px 15px 15px 0px; 
}

.form_control input {
    background-color: rgba(172, 172, 172, 0.219);
    border-radius: 15px;
    height: 3em;
    border: none;
    font-weight: 550;
}
body{
    background-color: #FBAB7E;
background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

}


.form_control input[type="button"] {
    background-color: rgb(16, 174, 214);
    color: aliceblue;
    padding: 1rem 1rem;
    height: 3.25rem;
    font-size: large;
}


.form_control a{
    color: rgb(16, 174, 214);
}
.form_control p {
    text-align: center;
}

input {
    padding: 10px ;
}

@media screen and (max-width:418px) {
    .Names input:nth-child(1){
        width: 48%;
    }
    .Names input:nth-child(2){
        width: 48%;
    }
    
}